body {
    background: lightgray;
    margin: 0 auto;
    width: 750px;
}
.header{
    background: white;
}
h1{
    width: 230px;
    margin: 0 auto;
    background:#4aaaa5;
    box-sizing: 50px; 
    color: white;
    text-align: center;
    float: left;
}
#info{ 
        color: grey;
        height: 200px;
        height: 40px;
        word-spacing: 2pc;
        position: static;
        float: right;
        left: 25pc;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        margin-right:0%; 
}      
.contact{
    background: white;
    width: 750px;
    margin: 0 auto;
    padding-bottom: 20px;
    
}
h2{
    color: #4aaaa5;
    margin: 25px;
    padding-top:20px 
}
.text{
    color: grey;
    margin: 25px;

}
.text label{
    width: 100%;
    text-align: start;
}
.text input,.text textarea{
    width: 100%;
    font-size: 15px;
}
#Msg input,#Msg textarea{
    width: 100%;
    height: 150px;
    text-align: start;
}
.btn{
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    background: #4aaaa5;
    color: white;
    margin: 25px;
    padding: 3px;
}
